<div class="hoogte-bg-wrap">
  <div class="hoogte-bg"></div>
</div>
<div class="hoogte-wrap">
  <div class="custom-container">
    <div class="contact">
      <div class="hoogte__heading">
        <h3>Neem <strong>contact</strong> op</h3>
        <span>Heeft u een vraag of heeft u nóg niet gevonden wat u zocht op de website? Neem dan contact op met OnderwijsMens. Wij staan u graag te woord.</span>
      </div>
      <div class="contact__body">
        {{#each contact-item}}
          <div class="contact__item">
            <img src="{{contact-img}}">
            <h5>{{contact-item-heading}}</h5>
            <span>{{contact-item-text}}<strong>{{contact-item-text2}}</strong> <a href="{{contact-link-href}}">{{contact-link-text}}</a></span>
          </div>
        {{/each}}
      </div>
      <div class="contact__form">
        <form action="#">
          <div class="contact__form-left">
            <select name="meer-informatie" id="contact-select" autocomplete="off">
              <option value="1">Stuur mij informatie over....</option>
              <option value="2">1</option>
              <option value="3">2.</option>
              <option value="4">3.</option>
            </select>
            <input type="email" maxlength="200" size="40" placeholder="E-mailadres" name="emailadres" required>
            <input type="text" maxlength="200" size="40" placeholder="School en/of bestuur" name="school" required>
            <input type="text" maxlength="200" size="40" placeholder="Woonplaats" name="woonplaats" required>
            <input type="tel"  maxlength="200" size="40" placeholder="Telefoon" name="telefoon" required>
            <input type="text" maxlength="200" size="40" placeholder="Naam" name="naam" required>

          </div>
          <div class="contact__form-right">
            <textarea rows="13" cols="45" name="vraag">Vraag of opmerking</textarea>
            <button value="Versturen" class="primary-btn">Versturen</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

