<div class="download-bg">
  <div class="custom-container">
    <div class="download">
      <div class="download__heading">
        <h3>{{download-heading}} <strong>{{download-heading-underline}}</strong></h3>
        <form action="#" method="get" class="download__form">
          <input name="search" placeholder="Zoeken..." type="search" >
          <button type="submit"><img src="{{download-search}}" alt="search"></button>
        </form>
      </div>
      {{#each download-item}}
       <div class="download__item">
         <a href="{{download-href-main}}">{{download-text-main}}</a>
         <a href="{{download-href-button}}" class="secondary-btn">{{download-text-button}}</a>
       </div>
      {{/each}}
  </div>
</div>
</div>
