<div class="partners">
  <div class="custom-container">
    <div class="partners__heading">
      <h3>Vaste <strong>partners</strong></h3>
    </div>
    <div class="partners__all">
      <div class="partners__item">
        <img src="{{partners__item1}}" alt="partner">
      </div>
      <div class="partners__item">
        <img src="{{partners__item2}}" alt="partner">
      </div>
      <div class="partners__item">
        <img src="{{partners__item3}}" alt="partner">
      </div>
      <div class="partners__item">
        <img src="{{partners__item4}}" alt="partner">
      </div>
      <div class="partners__item">
        <img src="{{partners__item5}}" alt="partner">
      </div>
    </div>
  </div>
</div>
