<div class="hoogte-bg-wrap">
  <div class="hoogte-bg"></div>
</div>
<div class="hoogte-wrap">
  <div class="custom-container">
    <div class="hoogte">
      <div class="hoogte__heading">
        <h3>{{hoogte-heading}} <strong>{{hoogte-heading-underline}}</strong></h3>
      </div>
      <div class="hoogte__body">
        {{#each hoogte-miniature}}
          <div class="hoogte__miniature">
            <a href="{{hoogte-miniature-href}}" class="miniature__bg"></a>
            <div class="miniature__content">
              <span>{{hoogte-miniature-date}}</span>
              <a href="{{hoogte-miniature-href}}">{{hoogte-miniature-text}}</a>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="hoogte__button">
        <a href="{{hoogte-button-href}}" class="primary-btn">{{hoogte-button-text}}</a>
      </div>
    </div>
  </div>
</div>






