<div class="main-header">
  <h1>{{main-heading-1}} <span>{{main-heading-2}}</span></h1>
  <div class="main-header__subheading">
    <img src="{{main-img}}" alt="flower">
    <span>{{main-sub-1}}</span>
    <span>{{main-sub-2}}</span>
  </div>
</div>
