<div class="feedback-bg-wrap">
  <div class="feedback-bg"></div>
</div>
<div class="custom-container">
  <div class="feedback">
    <div class="feedback__header">
      <h3>{{feedback-heading1}} <strong>{{feedback-heading-underline}} </strong>{{feedback-heading2}}</h3>
      <a href="referenties-1.html" class="secondary-btn">Lees alle referenties</a>
    </div>
    <div class="feedback__body">
      <div class="feedback__slider">
        <div class="feedback__slider-init">
          <div class="feedback__slider-content">
              <div class="feedback__slider-text">
                <img src="{{left-quote}}" alt="quotes">
                <span>De ambitie was er al jaren, als school doorontwikkelen naar een professionele, lerende organisatie. Met een gemotiveerd team als dat van de Juliana van Stolbergschool leek het slechts een kwestie van tijd voor dit doel bereikt zou worden. Maar zoals het....</span>
                <img src="{{right-quote}}" alt="quotes">
              </div>
              <div class="feedback__slider-bottom">
                <a href="opleidingen-1.html" class="primary-btn">Lees meer</a>
              </div>
            </div>
          <div class="feedback__slider-content">
            <div class="feedback__slider-text">
              <img src="{{left-quote}}" alt="quotes">
              <span>De ambitie was er al jaren, als school doorontwikkelen naar een professionele, lerende organisatie. Met een gemotiveerd team als dat van de Juliana van Stolbergschool leek het slechts een kwestie van tijd voor dit doel bereikt zou worden. Maar zoals het....</span>
              <img src="{{right-quote}}" alt="quotes">
            </div>
            <div class="feedback__slider-bottom">
              <a href="opleidingen-1.html" class="primary-btn">Lees meer</a>
            </div>
          </div>
          <div class="feedback__slider-content">
            <div class="feedback__slider-text">
              <img src="{{left-quote}}" alt="quotes">
              <span>De ambitie was er al jaren, als school doorontwikkelen naar een professionele, lerende organisatie. Met een gemotiveerd team als dat van de Juliana van Stolbergschool leek het slechts een kwestie van tijd voor dit doel bereikt zou worden. Maar zoals het....</span>
              <img src="{{right-quote}}" alt="quotes">
            </div>
            <div class="feedback__slider-bottom">
              <a href="opleidingen-1.html" class="primary-btn">Lees meer</a>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback__miniature">
        <a href="over-ons.html">
          <div class="miniature__bg"></div>
          <div class="miniature__content">
            <h4>Meerdere expertises bij elkaar gebracht</h4>
            <a href="over-ons.html" class="primary-btn">Ons team</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
